@media (max-width: 768px){
    .contato {
        flex-direction: column;
    }
    .contato .formulario {
        width: 300px;
    }
    .contato .formulario .input-text {
        width: 250px;
    }

    .contato .formulario .enviar {
        width: 250px;
    }
}